<div class="text-center">
  <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
  <p>{{post.content}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
</div>

<script src="./js/dashboard.js"></script>