<div class="text-center">
  <h2><a href="/post/{{id}}">{{title}}</a></h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
</div>

<div>
  <h3>This is the place I wish the comments would appear!</h3>
  {{#if comments}}
  <div class="col-md-6 comment-list">
    <h3>Current Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        {{!-- <h4><a href="/comments/{{comment.id}}">{{comment.user_id}}</a></h4> --}}
        <p>{{comment.content}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="col-md-6">
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment-content">comment</label>
      <input class="form-input" type="text" id="comment-content" name="comment-content" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>


<script src="../public/js/post.js"></script>